.mapa {
  grid-column: 2;
  box-shadow: 0 0 0 1px #d4d1c7;
}

.dados li {
  font-family: 'IBM Plex Mono', monospace;
  font-size: .875rem;
  font-weight: 500;
  line-height: 2rem;
}

.dados li::before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  background-color: #8F43EE;
  margin-right: 8px;
}