.faq-lista {
  grid-column: 2 / 5;
}

.faq-lista dt {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #8F43EE;
}

.faq-lista dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  background-color: #222;
  margin-right: 8px;
}

.faq-lista dd {
  font-family: Helvetica, Arial;
  margin-left: 0.5rem;
  margin-left: 30px;
}

[data-anime="accordion"] dt::after {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url(../img/triangle-down.svg) no-repeat center center;
  margin-left: 10px;
  transition: trasnform .4s;
}

[data-anime="accordion"] dt.ativo::after {
  content: '';
  transform: rotate(-180deg);
}

[data-anime="accordion"] dd {
  display: none;
}

[data-anime="accordion"] dd.ativo {
  display: block;
  animation: sildeDown .2s forwards;
}

@keyframes sildeDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 100px;
  }
}