body {
  background-color: #FAF6ED;
}

body, h1, h2, h3, a, p, ul, li, dt, dd {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

/* Resposivo  */

@media (max-width: 700px) {
  .menu {
    grid-column: 1 / -1;
    margin-top: 0px;
  }
  .grid-section h1 {
    font-size: 2.5rem;
  }
  .grid-section .animais-imagens {
    grid-column: 1;
  }
  .grid-section .faq-lista {
    grid-column: 1 / -1;
  }
  .grid-section .mapa {
    grid-column: 1 / -1;
  }
  .grid-section .dados {
    grid-column: 1 / -1;
  }
  .grid-container .footer {
    margin-bottom: 0px;
  }
}

/* animação ao scroll - JS*/

[data-anime="scroll"] {
  opacity: 0;
  transition: 0.3s;
  transform: translate3d(-50px, 0, 0);
}

[data-anime="scroll"].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}